In [24]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [25]:
df = pd.read_excel('sen_list_116.xlsx')

In [26]:
df.keys()

Index(['Unnamed: 0', 'name', 'screen_name'], dtype='object')

In [27]:
names = list(df.name)

In [29]:
user_names = [name.replace('@', '') for name in list(df.screen_name)]

In [30]:
user_names[0]

'SenHawleyPress'

In [31]:
user_ids = []
for name in user_names:
    url = f"http://gettwitterid.com/?user_name={name}&submit=GET+USER+ID"
    
    r = requests.get(url)
    html = r.text
    
    soup = BeautifulSoup(html, 'html.parser')
    
    user_id = soup.select('p')[2].text
    #print(user_id)
    
    user_ids.append(user_id)

1080960924687704064
1080870981877534720
1078693601356509184
1017500185356853248
983348251972816896
941080085121175552
941000686275387392
899978622416695297
818554054309715969
816683274076614656
811313565760163844
803694179079458816
2964949642
2964174789
2962923040
2955485182
2891210047
2863210809
2856787757
2167097881
1099199839
1096059529
1080844782
1074518754
1074480192
1071402577
1068481578
1058520120
1048784496
970207298
968650362
946549322
600463589
515822213
486694111
476256944
432895323
382791093
339822881
296361085
293131808
291756142
278145569
278124059
264219447
250188760
249787913
247334603
242836537
242555999
236511574
235217558
234374703
234128524
233737858
225921757
224285242
221162525
217543151
216881337
202206694
193794406
172858784
171598736
150078976
131546062
117501995
109287731
109071031
92186819
88784440
78403308
76649729
76456274
75364211
60828944
47747074
43910797
29442313
29201047
22044727
21406834
21269970
21157904
21111098
19726613
18915145
18695134
18632666
18137749
18061669
17494010
15745368
15324851
13218102
11651202
10615232
7429102
7270292
5558312

In [32]:
user_ids

['1080960924687704064',
 '1080870981877534720',
 '1078693601356509184',
 '1017500185356853248',
 '983348251972816896',
 '941080085121175552',
 '941000686275387392',
 '899978622416695297',
 '818554054309715969',
 '816683274076614656',
 '811313565760163844',
 '803694179079458816',
 '2964949642',
 '2964174789',
 '2962923040',
 '2955485182',
 '2891210047',
 '2863210809',
 '2856787757',
 '2167097881',
 '1099199839',
 '1096059529',
 '1080844782',
 '1074518754',
 '1074480192',
 '1071402577',
 '1068481578',
 '1058520120',
 '1048784496',
 '970207298',
 '968650362',
 '946549322',
 '600463589',
 '515822213',
 '486694111',
 '476256944',
 '432895323',
 '382791093',
 '339822881',
 '296361085',
 '293131808',
 '291756142',
 '278145569',
 '278124059',
 '264219447',
 '250188760',
 '249787913',
 '247334603',
 '242836537',
 '242555999',
 '236511574',
 '235217558',
 '234374703',
 '234128524',
 '233737858',
 '225921757',
 '224285242',
 '221162525',
 '217543151',
 '216881337',
 '202206694',
 '193794406',
 '172858784',
 '171598736',
 '150078976',
 '131546062',
 '117501995',
 '109287731',
 '109071031',
 '92186819',
 '88784440',
 '78403308',
 '76649729',
 '76456274',
 '75364211',
 '60828944',
 '47747074',
 '43910797',
 '29442313',
 '29201047',
 '22044727',
 '21406834',
 '21269970',
 '21157904',
 '21111098',
 '19726613',
 '18915145',
 '18695134',
 '18632666',
 '18137749',
 '18061669',
 '17494010',
 '15745368',
 '15324851',
 '13218102',
 '11651202',
 '10615232',
 '7429102',
 '7270292',
 '5558312']

In [33]:
sen_116 = {'name': names, 'user_name': user_names, 'user_id': user_ids}

In [34]:
df_sen = pd.DataFrame.from_dict(sen_116)

In [35]:
df_sen.head(10)

                  name       user_name              user_id
0  Hawley Press Office  SenHawleyPress  1080960924687704064
1           Mike Braun    SenatorBraun  1080870981877534720
2          Mitt Romney   SenatorRomney  1078693601356509184
3   Bill Cassidy, M.D.  SenBillCassidy  1017500185356853248
4     Cindy Hyde-Smith    SenHydeSmith   983348251972816896
5           Doug Jones    SenDougJones   941080085121175552
6           Tina Smith    SenTinaSmith   941000686275387392
7   Kirsten Gillibrand    gillibrandny   899978622416695297
8          Jacky Rosen   SenJackyRosen   818554054309715969
9         John Kennedy  SenJohnKennedy   816683274076614656

In [36]:
with open('sen_twids.txt', 'w', encoding='utf-8') as f:
    f.write(str(user_ids))

In [37]:
df1 = pd.read_excel('rep_twitters.xlsx')

In [38]:
df1.keys()

Index(['name', 'District', 'tw_name'], dtype='object')

In [39]:
hrep_names = list(df1.name)
len(hrep_names)

11

In [41]:
len(df1)

439